<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f9f9f9; margin: 0; padding: 0;">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <h1 style="color: #333;">Welcome to the Home Page!</h1>
        <a href="{% url 'request-connection' %}" style="text-decoration: none; background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; margin-top: 20px;">Go to Forum</a>
    </div>
</body>
</html>
